<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo_reseaux_sociaux/livre.ico" type="image/x-icon">
    <title>Article</title>
    <link rel="stylesheet" href='/stylesheets/panier.css'/>
    <link rel="stylesheet" href='/stylesheets/style.css'/>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <div class="site_title">
          <h2>BookWorm</h2>
          <i><img style="height: 40px;width: 40px;" src="images/logo_reseaux_sociaux/livre.ico" /></i>
        </div>
        <div class='openMenu'>
          <a href="/">Accueil</a>
          <a href="/connexion">Se connecter</Link>
            </p>
            <div class="panier_section">
              <a href="/panier">Mon panier</a>
              <p class="panier_section_paragraph"><%= item %></p>
            </div>
        </div>
      </nav>
    </header>
      <main class="container">
        <section class="title_panier">
            <h1>Panier</h1>
        </section>
        <section>
          <div class='Panier'>
            <% for(let i = 0 ; i<basket.length ; i++) { %>
              <% panier = panier + basket[i].price  %>
            <div class="panier_image">
              <img src=<%= basket[i].img %> alt=""/>
            </div>
          <div class="panier_item">
            <div class="panier_title">
              <h2><%= basket[i].title %></h3>
            </div>
            <div class="panier_price">
              <h3><%= basket[i].price %> €</h3>
            </div>
          </div>
          </div>
          <div class="panier_total">
            <h3>Prix total du panier : <%= panier %> €</h3>
          </div>
          <% } %>
        </section>
       </main>
       <%- include('footer') -%>
    </div>
</body>
</html>