<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo_reseaux_sociaux/livre.ico" type="image/x-icon">
    <title>Article</title>
    <link rel="stylesheet" href='/stylesheets/panier.css'/>
    <link rel="stylesheet" href='/stylesheets/style.css'/>
</head>
<body>
  <div class="container">
    <%- include('header') -%>
      <main class="container">
        <section class="title_panier">
            <h1>Panier</h1>
        </section>
        <section>
          <% if(basket === []) {  %>
            <div class="Panier">
              <h3>Le panier est vide</h3>
            </div>
            <%  } else {  %>
          <%
          let total = 0
          basket.map((item, i) => {
          %>
          <div class='Panier'>
            <div class="panier_image" key=<%= i %>>
              <img src=<%= item.img %> alt=""/>
            </div>
          <div class="panier_item">
            <div class="panier_title">
              <h2><%= item.title %></h3>
            </div>
            <div class="panier_price">
              <h3><%= item.price %> €</h3>
            </div>
            <div class="panier_quantité">
              <div>
                <button>+</button>
              </div>
              <h3><%= item.quantity %></h3>
              <div>
                <button>-</button>
              </div>
            </div>
          </div>
          </div>
          <%
          total += item.price * item.quantity
        })
          %>
          <div class="panier_total">
            <h3>Prix total du panier : <%= total %> €</h3>
          </div>
        </section>
       </main>
       <% } %>
       <%- include('footer') -%>
    </div>
</body>
</html>