<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/logo_reseaux_sociaux/livre.ico" type="image/x-icon">
  <title>Menu</title>
  <link rel="stylesheet" href='/stylesheets/menu.css' />
  <link rel="stylesheet" href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <div class="site_title">
          <h2>BookWorm</h2>
          <i><img style="height: 40px;width: 40px;" src="images/logo_reseaux_sociaux/livre.ico" /></i>
          <p>Bienvenue client</p>
        </div>
        <div class='openMenu'>
          <a href="/">Accueil</a>
          <a href="/deconnexion">Se deconnecter</Link>
          <a href="/moncompte">Mon Compte</a>
            </p>
            <div class="panier_section">
              <a href="/panier">Mon panier</a>
              <p class="panier_section_paragraph"><%= item %></p>
            </div>
        </div>
      </nav>
    </header>
    <main class="content">
      <section class="article_h2">
        <h1>Articles</h1>
      </section>
      <div class='article'>
        <% for(let i = 0 ; i < products.length ; i++) { %>
          <div class="item">
            <div class='picture_article'>
              <picture>
                <a href='/article?title=<%=products[i].title%>&price=<%= products[i].price %>&img=<%= products[i].img %>&description=<%= products[i].description %>'><img
                    src=<%= products[i].img %>/></a>
              </picture>
            </div>
            <div class='h3_title'>
              <h2>
                <%= products[i].title %>
              </h2>
            </div>
            <div class='h3_price'>
              <h2>
                <%= products[i].price %> €
              </h2>
            </div>
            <div class='button_article'>
              <form action="/add" method="POST">
                <input type="hidden" name="position" value="<%=i %>">                
              <button class="button">Ajouter au panier</button>
              </form>
            </div>
          </div>
          <% } %>
      </div>
      </section>
    </main>
    <%-  include('footer')  -%>
  </div>
</body>
<script type="text/javascript" src="/javascripts/menu.js"></script>
</html>